@font-face {
    font-family: 'EastSeaDokdo-Regular';
    src: url('fonts/EastSeaDokdo-Regular.ttf') format('truetype');
    src: url('fonts/east-sea-dokdo-v22-latin-regular.woff') format('woff');
    src: url('fonts/east-sea-dokdo-v22-latin-regular.woff2') format('woff2');
}

@font-face {
    font-family: 'InriaSans-Regular';
    src: url('fonts/InriaSans-Regular.ttf') format('truetype');
    src: url('fonts/inria-sans-v14-latin-regular.woff') format('woff');
    src: url('fonts/inria-sans-v14-latin-regular.woff2') format('woff2');
}

#uldiv {
    display: flex;
    justify-content: center;
}

ul {
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
    align-items: center;
    list-style: none;
    margin: 3% auto;
    color: #00FFA3;
    font-family: 'InriaSans-Regular';
    font-size: 14px;
}

button {
    padding: 8px;
    /* margin-left: 50px; */
    border-radius: 20px;
    border: 2px solid #00FFA3;
    background-color: #ffffff;
    width: 100px;
    font-family: 'InriaSans-Regular';
    font-size: 14px;
    color: #00FFA3;
    cursor: pointer;
}

#background {
    display: flex;
    align-items: center;
    justify-content: center;
    background-image: url('images/bg.png');
    background-size: cover;
    background-position: center;
    width: 100%;
    height: 100vh;
    /* position: absolute; */
}

#background p {
    font-family: EastSeaDokdo-Regular;
    font-size: 30vw;
    color: #00FFA3;
    line-height: 0.7;
}

section {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 90vh;
}

#behancetextbox {
    display: flex;
    width: 90vw;
    margin: 2%;
    justify-content: space-between;
    flex-wrap: wrap;
    align-items: flex-start;
}

#behance {
    display: flex;
    margin-bottom: 20px;
    flex-direction: column;
}

#behance img {
    width: 200px;
    margin-bottom: 10px;
    padding-left: 3px;
}

#behance a {
    font-family: 'InriaSans-Regular';
    font-size: 24px;
    text-decoration: none;
    color: #00FFA3;
}

#textbox {
    width: 600px;
}

#textbox p {
    margin: 0px;
    font-family: 'InriaSans-Regular';
    line-height: 2;
    font-size: 14px;
}

#textbox a {
    font-family: 'InriaSans-Regular';
    line-height: 2;
    color: #00FFA3;
    font-size: 14px;
}

#icons {
    display: none;
    flex-wrap: wrap;
    justify-content: space-around;
}

#impressum {
    margin-top: 50px;
    margin-bottom: 20px;
    text-align: center;
}

#impressum a {
    font-family: 'InriaSans-Regular';
    text-decoration: none;
    color: #cacaca;
}

@media screen and (min-width: 1200px) {
    button {
        margin-left: 50px;
    }
}

@media screen and (min-width: 1000px) {
    #behancetextbox {
        width: 80vw;
    }
}

@media screen and (min-width: 800px) {
    #icons {
        display: flex;
    }
}
